* {
    /*border: #00FF00 solid 1px;*/
    margin: 0px;
    padding: 0px;
}
:root {
    --color-bronze: #CD7F32;
    --color-gold: #D4AF37;
    --color-coffee: #7C4D33;
    --color-onyx: #3E3E3E;
    --color-moss: #556B2F;
    --color-steel: #4682B4;
    --color-auburn: #9E2A2F;
    --color-parchment: #F5F5DC;
}
body {
    height: 100svh;
    background-color: var(--color-parchment);
    color: var(--color-onyx);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
nav {
    background-color: var(--color-coffee);
    color: var(--color-parchment);
    flex: .5 0 0;
    max-width: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100svh;
    padding-top: 5rem;
    border-right: 4px solid var(--color-bronze);
}
main {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    height: 100svh;
    padding-top: 5rem;
}
