/* Base styles */
* {
    /*border: lime solid 5px; */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 200px;
    background-color: #CD7F32;  /* Sidebar background */
    padding: 20px;
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    margin-left: 200px;  /* Adjust for the sidebar width */
    padding: 20px;
    background-color: #F5F5DC;  /* Content background */
    flex-grow: 1;
    color: #000000;
    min-height: 100vh;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}
